.main-container{
    height:100vh;
    background-image:url('../img/dual-ring-big.gif');
    background-size:200px 200px;
    background-color: $bg-color;
    @extend %background;
    position:relative;
    header{
        height:10vh;
        text-align: center;
        //padding-top:20px;
        background-color:$letter-bg;
        color:white;
        text-transform:uppercase;
        position:relative;
        .title-container{
            font-weight:bold;
            line-height:10vh;
            @extend %absolute;
            text-align:left;
            padding-left:20px;
        }
        .input-container{
            @extend %absolute;
            text-align:right;
            left:50%;
            .search-input{
                position:absolute;
                top:50%;
                right:2%;
                margin-top:-23px;
                width:70%;
                background-color:white;
                color: $letter-bg;
                font-weight:bold;
                text-transform: uppercase;
                border:none;
                padding-top:12px;
                font-size:26px;
            }
        }
       
    }
    .main-wrapper{
        height:90vh;
        display:flex;
        flex-wrap:wrap;
        align-content:start;
        background-color:$letter-bg;
        opacity:0;
        transition: 0.4s;
        overflow:auto;
        &.shown{
            opacity: 1;
        }
        .item-wrapper{
            width:25%;
            height:30vh;
            position:relative;
            background-image:url('../img/dual-ring-small.gif');
            background-size:50px 50px;
            @extend %background;

            .image-wrapper{
                position:absolute;
                background-position-y:top;
                width:100%;
                height:100%;
                @extend %background;
            }
            .name{
                position:absolute;
                bottom:0;
                left:0;
                background-color:$letter-bg;
                color:white;
                padding:5px;
                font-size:30px;
                font-weight:bold;
                text-transform: uppercase;
            }
            .bookmark{
                position:absolute;
                top:5px;
                right:5px;
                font-size:36px;
                cursor: pointer;
                //font-weight:bold;
                .glyphicon-star{
                    color:yellow;
                    font-size:44px;
                }
                .glyphicon-star-empty{
                    color:white;
                }
            }
        }
    }
    .pagination{
        position:absolute;
        width:70px;
        height:70px;
        border-radius:100%;
        background-color:white;
        line-height:70px;
        text-align:center;
        bottom:10px;
        display:none;
        color:$letter-bg;
        font-size:40px;
        .glyphicon{
            cursor:pointer;
        }
        &.active{
            display:block;
        }
        &.next{
            right:20px;
        }
        &.prev{
            left:20px;
        }
        .glyphicon-triangle-right{
            margin-top: 15px;
            margin-left: 5px;
        }
        .glyphicon-triangle-left{
            margin-top: 15px;
            margin-right: 5px;
        }
    }
}
@media (max-width:1450px){
    
    .main-container header .title-container{
        width:60%;
        font-size:28px;
    }
    .main-container header .input-container{
        left:60%;
        width:40%;
        .search-input{
            font-size:21px;
            width:95%;
        }
    }
    .main-container .main-wrapper .item-wrapper .name{
        font-size:24px;
    }
}
@media (max-width:991px){
    .main-container header .title-container{
        font-size:26px;
    }
    .main-container .main-wrapper .item-wrapper .name{
        font-size:18px;
    }
    .main-container .main-wrapper .item-wrapper{
        width: 33.33%;
        height:22.5vh;
    }
    .main-container header .input-container .search-input{
        font-size:21px;
    }
}
@media (max-width:771px){
    .main-container header{
        height:12vh;
    }
    .main-container .main-wrapper{
        height:88vh;
    }
    .main-container .main-wrapper .item-wrapper{
        width:50%;
        height:22vh;
    }
    .main-container header .title-container{
        width:100%;
        position:relative;
        height:6vh;
        line-height:6vh;
        font-size:22px;
        text-align:center;
        padding-left:0;
    }
    .main-container header .input-container{
        position:relative;
        top:0;
        left:0;
        width:100%;
        height:initial;
        .search-input{
            text-align:center;
            margin:0 5%;
            width:90%;
            right:0;
            position:relative;
            top:0;
            font-size:18px;
            height:36px;
        }
    }
    .main-container .main-wrapper .item-wrapper .name{
        font-size:18px;
    }
    .main-container .main-wrapper .item-wrapper .bookmark .glyphicon-star{
        font-size:38px;
    }
    .main-container .pagination{
        width:50px;
        height:50px;
        line-height: 50px;
        opacity:1;
    }
    /* .main-container .pagination.prev{
        left:50%;
        margin-left:-70px;
    }
    .main-container .pagination.next{
        right:50%;
        margin-right:-70px;
    } */
    .main-container .pagination .glyphicon-triangle-right,
    .main-container .pagination .glyphicon-triangle-left{
        margin-top:5px;
    }
}
@media (max-width:559px){
    .main-container .main-wrapper .item-wrapper .name{
        font-size:15px;
    } 
    .main-container .main-wrapper .item-wrapper{
        width:50%;
        height:29.33vh;
    }
    .main-container .main-wrapper .item-wrapper .bookmark .glyphicon-star{
        font-size:30px;
    }
}
@media (max-width:480px){
    .main-container .main-wrapper .item-wrapper{
        width:100%;
        height:22vh;
    }
    .main-container header .title-container{
        font-size:16px;
    }
    .main-container header .input-container .search-input{
        font-size:15px;
    }
}
